/* Snow Flake */
.snowflake-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgb(0, 255, 140) 0, #002255 100%);
}

.snowflake-resize {
    transform: scale(0.3);
}

@media only screen and (min-width: 576px) {
    .snowflake-resize {
        transform: scale(0.35);
    }
}


.snowflake {
    --snowflake-color: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    animation: rotation 20s infinite linear;
}

.snowflake div {
    position: absolute;
    background-color: var(--snowflake-color);
    width: 1rem;
    border-radius: 0.5rem;
}

.snowflake .side {
    bottom: -0.5rem;
    left: -0.5rem;
    height: 10rem;
    transform-origin: 0.5rem 9.5rem;
}

.snowflake .side-l-1 {
    bottom: 2.5rem;
    left: 0rem;
    height: 5rem;
    transform-origin: 0.5rem 4.5rem;
    transform: rotate(-60deg);
}

.snowflake .side-r-1 {
    bottom: 2.5rem;
    left: 0rem;
    height: 5rem;
    transform-origin: 0.5rem 4.5rem;
    transform: rotate(60deg);
}

.snowflake .side-l-2 {
    bottom: 6.5rem;
    left: 0rem;
    width: 0.8rem;
    height: 3rem;
    transform-origin: 0.4rem 2.5rem;
    transform: rotate(-45deg);
}

.snowflake .side-r-2 {
    bottom: 6.5rem;
    left: 0.2rem;
    width: 0.8rem;
    height: 3rem;
    border-radius: 0.5rem;
    transform-origin: 0.4rem 2.5rem;
    transform: rotate(45deg);
}

.snowflake .side-2 {
    transform: rotate(60deg);
}

.snowflake .side-3 {
    transform: rotate(120deg);
}

.snowflake .side-4 {
    transform: rotate(180deg);
}

.snowflake .side-5 {
    transform: rotate(240deg);
}

.snowflake .side-6 {
    transform: rotate(300deg);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Chrismas Lights day 11 */
.christmas-lights-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #2b2d42;
  height: 100%;
  margin: 0;
  position: relative;
}

.christmas-lights {
  --christmas-lights-size: 90rem;
  --christmas-lights-chord: #6b705c;
  --christmas-lights-holder: #ced4da;
  --christmas-lights-bulb-1: #f94144;
  --christmas-lights-bulb-2: #90be6d;
  --christmas-lights-bulb-3: #f9c74f;
  --christmas-lights-bulb-4: #43aa8b;
  --christmas-lights-bulb-5: #58b4d1;

  height: 6rem;
  transform: scale(0.1);
}

@media only screen and (min-width: 576px) {
  .christmas-lights {
    transform: scale(0.13) translateY(2rem);
  }
}

.christmas-lights .chord {
  width: var(--christmas-lights-size);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.christmas-lights .chord::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(var(--christmas-lights-size) * 3);
  height: calc(var(--christmas-lights-size) * 3);
  left: calc(var(--christmas-lights-size) * -1);
  bottom: 0;
  border-bottom: 2px solid var(--christmas-lights-chord);
  border-radius: 50%;
}

.christmas-lights .bulb {
  position: absolute;
  z-index: 1;
  width: 4rem;
  height: 8rem;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 30% 30% 60% 60%;
  margin-top: 1rem;
  left: calc(50% - 2rem);
}

.christmas-lights .bulb::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -10;
  width: 1.5rem;
  height: 1.1rem;
  background-color: var(--christmas-lights-holder);
  border-radius: 0.25rem 0.25rem 0.25rem;
  top: -0.9rem;
  left: 1.25rem;
}

.christmas-lights .bulb::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  transform: rotate(30deg);
  opacity: 0.5;
}

.christmas-lights .bulb .light {
  position: absolute;
  top: -0.2rem;
  left: -3rem;
  z-index: -2;
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-animation: bulb-flicker-animation 1s infinite;
  animation: bulb-flicker-animation 1s infinite;
}

.christmas-lights .bulb.bulb-1 {
  transform: rotate(12deg);
  background-color: var(--christmas-lights-bulb-1);
  margin-left: -24rem;
  margin-top: -1.2rem;
}

.christmas-lights .bulb.bulb-1 .light {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.christmas-lights .bulb.bulb-2 {
  transform: rotate(6deg);
  background-color: var(--christmas-lights-bulb-2);
  margin-left: -12rem;
  margin-top: 0.35rem;
}

.christmas-lights .bulb.bulb-2 .light {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.christmas-lights .bulb.bulb-3 {
  background-color: var(--christmas-lights-bulb-3);
}

.christmas-lights .bulb.bulb-4 {
  transform: rotate(-6deg);
  background-color: var(--christmas-lights-bulb-4);
  margin-left: 12rem;
  margin-top: 0.35rem;
  -webkit-animation: broken-bulb-animation 1s infinite;
  animation: broken-bulb-animation 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.christmas-lights .bulb.bulb-4 .light {
  -webkit-animation: broken-bulb-flicker-animation 1s infinite;
  animation: broken-bulb-flicker-animation 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.christmas-lights .bulb.bulb-5 {
  transform: rotate(-12deg);
  background-color: var(--christmas-lights-bulb-5);
  margin-left: 24rem;
  margin-top: -1.2rem;
}

.christmas-lights .bulb.bulb-5 .light {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes broken-bulb-animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
}

@keyframes broken-bulb-animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
}

@-webkit-keyframes broken-bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.02;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes broken-bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.02;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

/* Day 12 */
.polar-bear-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: #64b6ac;
  }
  
  .polar-bear {
    --polar-bear: #ffffff;
    --polar-bear-highlight: #bfcde0;
    --polar-bear-face: #1e2019;
    --polar-bear-scarf: #ce4257;
    --polar-bear-scarf-end: #bd3146;
    --polar-bear-scarf-dark: #720026;
  
    width: 20rem;
    height: 20rem;
    position: relative;
    transform: scale(0.27) translateX(-7rem);
  }
  
  @media only screen and (min-width: 576px) {
    .polar-bear {
      transform: scale(0.35) translateX(-6rem);
    }
  }
  
  .polar-bear .polar-bear__body {
    position: absolute;
    top: 6rem;
    left: 3rem;
    width: 14rem;
    height: 14rem;
    background-color: var(--polar-bear);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  
  .polar-bear .polar-bear__foot {
    position: absolute;
    background-color: var(--polar-bear);
    bottom: 0;
    width: 3.8rem;
    height: 4.6rem;
    border-top: 0.3rem solid var(--polar-bear-highlight);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__print {
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
    width: 2.2rem;
    height: 1.8rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
  }
  
  .polar-bear .polar-bear__fingers {
    position: absolute;
    bottom: 3.2rem;
    left: 1.45rem;
    width: 0.7rem;
    height: 0.9rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__fingers::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.9rem;
    top: 0.4rem;
    width: 0.6rem;
    height: 0.8rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
    transform: rotate(-20deg);
  }
  
  .polar-bear .polar-bear__fingers::after {
    content: "";
    display: block;
    position: absolute;
    left: 1rem;
    top: 0.4rem;
    width: 0.6rem;
    height: 0.8rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
    transform: rotate(20deg);
  }
  
  .polar-bear .polar-bear__foot.polar-bear__foot--left {
    transform: rotate(-10deg);
  }
  
  .polar-bear .polar-bear__foot.polar-bear__foot--right {
    left: 10rem;
    transform: rotate(10deg);
  }
  
  .polar-bear__arm--left {
    position: absolute;
    width: 3rem;
    height: 4rem;
    background-color: var(--polar-bear);
    top: 4.5rem;
    left: -0.2rem;
    box-sizing: border-box;
    border-bottom: 0.3rem solid var(--polar-bear-highlight);
    border-radius: 0 0 50% 50% / 0 0 100% 30%;
    transform: rotate(30deg);
  }
  
  .polar-bear__arm--right {
    position: absolute;
    width: 3rem;
    height: 4rem;
    background-color: var(--polar-bear);
    top: 4.5rem;
    right: -0.2rem;
    box-sizing: border-box;
    border-bottom: 0.3rem solid var(--polar-bear-highlight);
    border-radius: 0 0 50% 50% / 0 0 30% 100%;
    transform: rotate(-30deg);
  }
  
  .polar-bear .polar-bear__head {
    position: absolute;
    z-index: 2;
    width: 10rem;
    height: 10rem;
    left: 5rem;
  }
  
  .polar-bear .polar-bear__face {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: var(--polar-bear);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__ear {
    position: absolute;
    z-index: -1;
    width: 4rem;
    height: 4rem;
    background-color: var(--polar-bear);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__ear::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0.8rem;
    top: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__ear--left {
    left: -1.2rem;
  }
  
  .polar-bear .polar-bear__ear--right {
    left: 7.2rem;
  }
  
  .polar-bear .polar-bear__eye {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.5rem solid var(--polar-bear-face);
    transform: scaleY(0.9);
  }
  .polar-bear .polar-bear__eye::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -0.5rem;
    left: -0.5rem;
    width: 2.2rem;
    height: 1rem;
    background: radial-gradient(
        circle at 0.25rem 0.03rem,
        var(--polar-bear-face) 0.25rem,
        transparent 0.25rem
      ),
      radial-gradient(
        circle at 1.75rem 0.03rem,
        var(--polar-bear-face) 0.25rem,
        var(--polar-bear) 0.25rem
      );
  }
  
  .polar-bear .polar-bear__eye.polar-bear__eye--left {
    top: 4rem;
    left: 1.7rem;
  }
  
  .polar-bear .polar-bear__eye.polar-bear__eye--right {
    top: 4rem;
    right: 1.7rem;
  }
  
  .polar-bear .polar-bear__lip {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.5rem solid var(--polar-bear-face);
    transform: scaleY(0.9);
  }
  .polar-bear .polar-bear__lip::after {
    position: absolute;
    content: "";
    display: block;
    top: -0.5rem;
    left: -0.5rem;
    width: 2.2rem;
    height: 1rem;
    background: radial-gradient(
        circle at 0.25rem 0.97rem,
        var(--polar-bear-face) 0.25rem,
        transparent 0.25rem
      ),
      radial-gradient(
        circle at 1.75rem 0.97rem,
        var(--polar-bear-face) 0.25rem,
        var(--polar-bear) 0.25rem
      );
  }
  
  .polar-bear .polar-bear__lip.polar-bear__lip--left {
    top: 6rem;
    left: 3.25rem;
  }
  
  .polar-bear .polar-bear__lip.polar-bear__lip--right {
    top: 6rem;
    right: 3.25rem;
  }
  
  .polar-bear .polar-bear__nose {
    position: absolute;
    width: 1.8rem;
    height: 1.2rem;
    background-color: var(--polar-bear-face);
    border-radius: 50%;
    top: 5.5rem;
    left: 4.1rem;
  }
  
  .polar-bear .polar-bear__nose::after {
    position: absolute;
    content: "";
    display: block;
    top: 0.5rem;
    left: 0.65rem;
    width: 0.5rem;
    height: 1.2rem;
    background-color: var(--polar-bear-face);
  }
  
  .polar-bear__scarf {
    position: absolute;
    top: 4rem;
    left: -0.5rem;
    width: 11rem;
    height: 8rem;
    border-radius: 50%;
  }
  
  .polar-bear__scarf::after {
    content: "";
    display: block;
    position: absolute;
    width: 9.8rem;
    height: 6rem;
    background-color: var(--polar-bear);
    border-radius: 50%;
    left: 0.6rem;
    top: -1rem;
  }
  
  .polar-bear__scarf-line {
    position: absolute;
    top: 4rem;
    left: -0.5rem;
    width: 11rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--polar-bear-scarf);
    overflow: hidden;
  }
  
  .polar-bear .polar-bear__scarf-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 14rem;
    height: 8rem;
    border-radius: 50%;
    top: -1rem;
    left: 1rem;
    border: 0.4rem solid var(--polar-bear-scarf-dark);
  }
  
  .polar-bear__scarf-end--left {
    position: absolute;
    z-index: -1;
    top: 11rem;
    left: 1.5rem;
    background-color: var(--polar-bear-scarf-end);
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: rotate(20deg);
  }
  
  .polar-bear__scarf-end--right {
    position: absolute;
    z-index: -1;
    top: 11rem;
    left: 5.5rem;
    background-color: var(--polar-bear-scarf-end);
    width: 3rem;
    height: 2.2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: rotate(-20deg);
  }

  /* Day 19 */
  
  .sparkler-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #577399;
    height: 100%;
  }
  
  .sparkler {
    --sparkler-stick: #dee2e6;
    --sparkler-gun-powder: #706677;
    --sparkler-burnt: #252525;
    --sparkler-ember: #ff9f1c;
  
    position: relative;
    margin-top: 2rem;
    height: 16rem;
    transform: scale(0.4) translateX(-0.5rem) translateY(-1.5rem) rotate(55deg);
  }
  
  @media only screen and (min-width: 576px) {
    .sparkler {
      transform: scale(0.5) translateX(-0.5rem) translateY(-1.5rem) rotate(55deg);
    }
  }
  
  .sparkler .stick {
    position: absolute;
    top: 10rem;
    margin-left: -0.1rem;
    width: 0.2rem;
    height: 6rem;
    background-color: var(--sparkler-stick);
    border-radius: 0.5rem;
  }
  
  .sparkler .gun-powder {
    position: absolute;
    margin-left: -0.2rem;
    bottom: 6rem;
    width: 0.4rem;
    height: 10rem;
    background-color: var(--sparkler-burnt);
    border-radius: 0.5rem;
  }
  
  .sparkler .gun-powder::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0.4rem;
    height: 10rem;
    background: linear-gradient(
      to bottom,
      var(--sparkler-ember) 0.3rem,
      var(--sparkler-gun-powder) 0.4rem
    );
    border-radius: 0.5rem;
    -webkit-animation: sparkler-burn-anim 20s infinite;
    animation: sparkler-burn-anim 20s infinite;
  }
  
  .sparkler .sparkler-light {
    position: absolute;
    width: 9rem;
    height: 9rem;
    margin-left: -4.4rem;
    margin-top: -1.4rem;
    -webkit-animation: sparkler-light-anim 20s infinite;
    animation: sparkler-light-anim 20s infinite;
  }
  
  .sparkler .sparkler-light::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    background-color: rgba(255, 255, 230, 0.05);
    -webkit-animation: sparkler-light-pulsating 2s infinite linear;
    animation: sparkler-light-pulsating 2s infinite linear;
  }
  
  .sparkler .spark {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    bottom: 4.3rem;
    left: 4.35rem;
    transform: rotate(var(--spark-rotate));
  }
  
  .sparkler .spark::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0.1rem;
    height: 2rem;
    border-radius: 0.1rem;
    opacity: 0;
    background-color: white;
    transform-origin: bottom center;
    -webkit-animation: sparkler-sparkle 0.5s infinite linear;
    animation: sparkler-sparkle 0.5s infinite linear;
    -webkit-animation-delay: var(--spark-delay);
    animation-delay: var(--spark-delay);
  }
  
  @-webkit-keyframes sparkler-burn-anim {
    0% {
      height: 10rem;
    }
    100% {
      height: 0;
    }
  }
  
  @keyframes sparkler-burn-anim {
    0% {
      height: 10rem;
    }
    100% {
      height: 0;
    }
  }
  
  @-webkit-keyframes sparkler-light-anim {
    0% {
      bottom: 11.5rem;
    }
    100% {
      bottom: 1.5rem;
    }
  }
  
  @keyframes sparkler-light-anim {
    0% {
      bottom: 11.5rem;
    }
    100% {
      bottom: 1.5rem;
    }
  }
  
  @-webkit-keyframes sparkler-light-pulsating {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes sparkler-light-pulsating {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes sparkler-sparkle {
    0% {
      transform: translateY(-0.5rem) scaleY(0.25);
      opacity: 0;
    }
    10% {
      transform: translateY(-1rem) scaleY(0.5);
      opacity: 0.35;
    }
    30% {
      transform: translateY(-2rem) scaleY(0.5);
      opacity: 0.7;
    }
    50% {
      transform: translateY(-4rem) scaleY(1.5);
      opacity: 0.7;
    }
    51% {
      opacity: 0;
      transform: translateY(-4rem) scaleY(1);
    }
    100% {
      opacity: 0;
      transform: translateY(0) scaleY(0.25);
    }
  }
  
  @keyframes sparkler-sparkle {
    0% {
      transform: translateY(-0.5rem) scaleY(0.25);
      opacity: 0;
    }
    10% {
      transform: translateY(-1rem) scaleY(0.5);
      opacity: 0.35;
    }
    30% {
      transform: translateY(-2rem) scaleY(0.5);
      opacity: 0.7;
    }
    50% {
      transform: translateY(-4rem) scaleY(1.5);
      opacity: 0.7;
    }
    51% {
      opacity: 0;
      transform: translateY(-4rem) scaleY(1);
    }
    100% {
      opacity: 0;
      transform: translateY(0) scaleY(0.25);
    }
  }

