/* Snow Flake */
.snowflake-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgb(0, 255, 140) 0, #002255 100%);
}

.snowflake-resize {
    transform: scale(0.3);
}

@media only screen and (min-width: 576px) {
    .snowflake-resize {
        transform: scale(0.35);
    }
}


.snowflake {
    --snowflake-color: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    animation: rotation 20s infinite linear;
}

.snowflake div {
    position: absolute;
    background-color: var(--snowflake-color);
    width: 1rem;
    border-radius: 0.5rem;
}

.snowflake .side {
    bottom: -0.5rem;
    left: -0.5rem;
    height: 10rem;
    transform-origin: 0.5rem 9.5rem;
}

.snowflake .side-l-1 {
    bottom: 2.5rem;
    left: 0rem;
    height: 5rem;
    transform-origin: 0.5rem 4.5rem;
    transform: rotate(-60deg);
}

.snowflake .side-r-1 {
    bottom: 2.5rem;
    left: 0rem;
    height: 5rem;
    transform-origin: 0.5rem 4.5rem;
    transform: rotate(60deg);
}

.snowflake .side-l-2 {
    bottom: 6.5rem;
    left: 0rem;
    width: 0.8rem;
    height: 3rem;
    transform-origin: 0.4rem 2.5rem;
    transform: rotate(-45deg);
}

.snowflake .side-r-2 {
    bottom: 6.5rem;
    left: 0.2rem;
    width: 0.8rem;
    height: 3rem;
    border-radius: 0.5rem;
    transform-origin: 0.4rem 2.5rem;
    transform: rotate(45deg);
}

.snowflake .side-2 {
    transform: rotate(60deg);
}

.snowflake .side-3 {
    transform: rotate(120deg);
}

.snowflake .side-4 {
    transform: rotate(180deg);
}

.snowflake .side-5 {
    transform: rotate(240deg);
}

.snowflake .side-6 {
    transform: rotate(300deg);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Chrismas Lights day 11 */
.christmas-lights-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #2b2d42;
  height: 100%;
  margin: 0;
  position: relative;
}

.christmas-lights {
  --christmas-lights-size: 90rem;
  --christmas-lights-chord: #6b705c;
  --christmas-lights-holder: #ced4da;
  --christmas-lights-bulb-1: #f94144;
  --christmas-lights-bulb-2: #90be6d;
  --christmas-lights-bulb-3: #f9c74f;
  --christmas-lights-bulb-4: #43aa8b;
  --christmas-lights-bulb-5: #58b4d1;

  height: 6rem;
  transform: scale(0.1);
}

@media only screen and (min-width: 576px) {
  .christmas-lights {
    transform: scale(0.13) translateY(2rem);
  }
}

.christmas-lights .chord {
  width: var(--christmas-lights-size);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.christmas-lights .chord::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(var(--christmas-lights-size) * 3);
  height: calc(var(--christmas-lights-size) * 3);
  left: calc(var(--christmas-lights-size) * -1);
  bottom: 0;
  border-bottom: 2px solid var(--christmas-lights-chord);
  border-radius: 50%;
}

.christmas-lights .bulb {
  position: absolute;
  z-index: 1;
  width: 4rem;
  height: 8rem;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 30% 30% 60% 60%;
  margin-top: 1rem;
  left: calc(50% - 2rem);
}

.christmas-lights .bulb::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -10;
  width: 1.5rem;
  height: 1.1rem;
  background-color: var(--christmas-lights-holder);
  border-radius: 0.25rem 0.25rem 0.25rem;
  top: -0.9rem;
  left: 1.25rem;
}

.christmas-lights .bulb::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  transform: rotate(30deg);
  opacity: 0.5;
}

.christmas-lights .bulb .light {
  position: absolute;
  top: -0.2rem;
  left: -3rem;
  z-index: -2;
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-animation: bulb-flicker-animation 1s infinite;
  animation: bulb-flicker-animation 1s infinite;
}

.christmas-lights .bulb.bulb-1 {
  transform: rotate(12deg);
  background-color: var(--christmas-lights-bulb-1);
  margin-left: -24rem;
  margin-top: -1.2rem;
}

.christmas-lights .bulb.bulb-1 .light {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.christmas-lights .bulb.bulb-2 {
  transform: rotate(6deg);
  background-color: var(--christmas-lights-bulb-2);
  margin-left: -12rem;
  margin-top: 0.35rem;
}

.christmas-lights .bulb.bulb-2 .light {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.christmas-lights .bulb.bulb-3 {
  background-color: var(--christmas-lights-bulb-3);
}

.christmas-lights .bulb.bulb-4 {
  transform: rotate(-6deg);
  background-color: var(--christmas-lights-bulb-4);
  margin-left: 12rem;
  margin-top: 0.35rem;
  -webkit-animation: broken-bulb-animation 1s infinite;
  animation: broken-bulb-animation 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.christmas-lights .bulb.bulb-4 .light {
  -webkit-animation: broken-bulb-flicker-animation 1s infinite;
  animation: broken-bulb-flicker-animation 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.christmas-lights .bulb.bulb-5 {
  transform: rotate(-12deg);
  background-color: var(--christmas-lights-bulb-5);
  margin-left: 24rem;
  margin-top: -1.2rem;
}

.christmas-lights .bulb.bulb-5 .light {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes broken-bulb-animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
}

@keyframes broken-bulb-animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
}

@-webkit-keyframes broken-bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.02;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes broken-bulb-flicker-animation {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.09;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.02;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.11;
  }
  70% {
    opacity: 0.11;
  }
  80% {
    opacity: 0.09;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 0.1;
  }
}

/* Day 12 */
.polar-bear-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: #64b6ac;
  }
  
  .polar-bear {
    --polar-bear: #ffffff;
    --polar-bear-highlight: #bfcde0;
    --polar-bear-face: #1e2019;
    --polar-bear-scarf: #ce4257;
    --polar-bear-scarf-end: #bd3146;
    --polar-bear-scarf-dark: #720026;
  
    width: 20rem;
    height: 20rem;
    position: relative;
    transform: scale(0.27) translateX(-7rem);
  }
  
  @media only screen and (min-width: 576px) {
    .polar-bear {
      transform: scale(0.35) translateX(-6rem);
    }
  }
  
  .polar-bear .polar-bear__body {
    position: absolute;
    top: 6rem;
    left: 3rem;
    width: 14rem;
    height: 14rem;
    background-color: var(--polar-bear);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  
  .polar-bear .polar-bear__foot {
    position: absolute;
    background-color: var(--polar-bear);
    bottom: 0;
    width: 3.8rem;
    height: 4.6rem;
    border-top: 0.3rem solid var(--polar-bear-highlight);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__print {
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
    width: 2.2rem;
    height: 1.8rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
  }
  
  .polar-bear .polar-bear__fingers {
    position: absolute;
    bottom: 3.2rem;
    left: 1.45rem;
    width: 0.7rem;
    height: 0.9rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__fingers::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.9rem;
    top: 0.4rem;
    width: 0.6rem;
    height: 0.8rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
    transform: rotate(-20deg);
  }
  
  .polar-bear .polar-bear__fingers::after {
    content: "";
    display: block;
    position: absolute;
    left: 1rem;
    top: 0.4rem;
    width: 0.6rem;
    height: 0.8rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
    transform: rotate(20deg);
  }
  
  .polar-bear .polar-bear__foot.polar-bear__foot--left {
    transform: rotate(-10deg);
  }
  
  .polar-bear .polar-bear__foot.polar-bear__foot--right {
    left: 10rem;
    transform: rotate(10deg);
  }
  
  .polar-bear__arm--left {
    position: absolute;
    width: 3rem;
    height: 4rem;
    background-color: var(--polar-bear);
    top: 4.5rem;
    left: -0.2rem;
    box-sizing: border-box;
    border-bottom: 0.3rem solid var(--polar-bear-highlight);
    border-radius: 0 0 50% 50% / 0 0 100% 30%;
    transform: rotate(30deg);
  }
  
  .polar-bear__arm--right {
    position: absolute;
    width: 3rem;
    height: 4rem;
    background-color: var(--polar-bear);
    top: 4.5rem;
    right: -0.2rem;
    box-sizing: border-box;
    border-bottom: 0.3rem solid var(--polar-bear-highlight);
    border-radius: 0 0 50% 50% / 0 0 30% 100%;
    transform: rotate(-30deg);
  }
  
  .polar-bear .polar-bear__head {
    position: absolute;
    z-index: 2;
    width: 10rem;
    height: 10rem;
    left: 5rem;
  }
  
  .polar-bear .polar-bear__face {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: var(--polar-bear);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__ear {
    position: absolute;
    z-index: -1;
    width: 4rem;
    height: 4rem;
    background-color: var(--polar-bear);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__ear::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0.8rem;
    top: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--polar-bear-highlight);
    border-radius: 50%;
  }
  
  .polar-bear .polar-bear__ear--left {
    left: -1.2rem;
  }
  
  .polar-bear .polar-bear__ear--right {
    left: 7.2rem;
  }
  
  .polar-bear .polar-bear__eye {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.5rem solid var(--polar-bear-face);
    transform: scaleY(0.9);
  }
  .polar-bear .polar-bear__eye::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -0.5rem;
    left: -0.5rem;
    width: 2.2rem;
    height: 1rem;
    background: radial-gradient(
        circle at 0.25rem 0.03rem,
        var(--polar-bear-face) 0.25rem,
        transparent 0.25rem
      ),
      radial-gradient(
        circle at 1.75rem 0.03rem,
        var(--polar-bear-face) 0.25rem,
        var(--polar-bear) 0.25rem
      );
  }
  
  .polar-bear .polar-bear__eye.polar-bear__eye--left {
    top: 4rem;
    left: 1.7rem;
  }
  
  .polar-bear .polar-bear__eye.polar-bear__eye--right {
    top: 4rem;
    right: 1.7rem;
  }
  
  .polar-bear .polar-bear__lip {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.5rem solid var(--polar-bear-face);
    transform: scaleY(0.9);
  }
  .polar-bear .polar-bear__lip::after {
    position: absolute;
    content: "";
    display: block;
    top: -0.5rem;
    left: -0.5rem;
    width: 2.2rem;
    height: 1rem;
    background: radial-gradient(
        circle at 0.25rem 0.97rem,
        var(--polar-bear-face) 0.25rem,
        transparent 0.25rem
      ),
      radial-gradient(
        circle at 1.75rem 0.97rem,
        var(--polar-bear-face) 0.25rem,
        var(--polar-bear) 0.25rem
      );
  }
  
  .polar-bear .polar-bear__lip.polar-bear__lip--left {
    top: 6rem;
    left: 3.25rem;
  }
  
  .polar-bear .polar-bear__lip.polar-bear__lip--right {
    top: 6rem;
    right: 3.25rem;
  }
  
  .polar-bear .polar-bear__nose {
    position: absolute;
    width: 1.8rem;
    height: 1.2rem;
    background-color: var(--polar-bear-face);
    border-radius: 50%;
    top: 5.5rem;
    left: 4.1rem;
  }
  
  .polar-bear .polar-bear__nose::after {
    position: absolute;
    content: "";
    display: block;
    top: 0.5rem;
    left: 0.65rem;
    width: 0.5rem;
    height: 1.2rem;
    background-color: var(--polar-bear-face);
  }
  
  .polar-bear__scarf {
    position: absolute;
    top: 4rem;
    left: -0.5rem;
    width: 11rem;
    height: 8rem;
    border-radius: 50%;
  }
  
  .polar-bear__scarf::after {
    content: "";
    display: block;
    position: absolute;
    width: 9.8rem;
    height: 6rem;
    background-color: var(--polar-bear);
    border-radius: 50%;
    left: 0.6rem;
    top: -1rem;
  }
  
  .polar-bear__scarf-line {
    position: absolute;
    top: 4rem;
    left: -0.5rem;
    width: 11rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--polar-bear-scarf);
    overflow: hidden;
  }
  
  .polar-bear .polar-bear__scarf-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 14rem;
    height: 8rem;
    border-radius: 50%;
    top: -1rem;
    left: 1rem;
    border: 0.4rem solid var(--polar-bear-scarf-dark);
  }
  
  .polar-bear__scarf-end--left {
    position: absolute;
    z-index: -1;
    top: 11rem;
    left: 1.5rem;
    background-color: var(--polar-bear-scarf-end);
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: rotate(20deg);
  }
  
  .polar-bear__scarf-end--right {
    position: absolute;
    z-index: -1;
    top: 11rem;
    left: 5.5rem;
    background-color: var(--polar-bear-scarf-end);
    width: 3rem;
    height: 2.2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: rotate(-20deg);
  }

  /* Day 19 */
  
  .sparkler-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #577399;
    height: 100%;
  }
  
  .sparkler {
    --sparkler-stick: #dee2e6;
    --sparkler-gun-powder: #706677;
    --sparkler-burnt: #252525;
    --sparkler-ember: #ff9f1c;
  
    position: relative;
    margin-top: 2rem;
    height: 16rem;
    transform: scale(0.4) translateX(-0.5rem) translateY(-1.5rem) rotate(55deg);
  }
  
  @media only screen and (min-width: 576px) {
    .sparkler {
      transform: scale(0.5) translateX(-0.5rem) translateY(-1.5rem) rotate(55deg);
    }
  }
  
  .sparkler .stick {
    position: absolute;
    top: 10rem;
    margin-left: -0.1rem;
    width: 0.2rem;
    height: 6rem;
    background-color: var(--sparkler-stick);
    border-radius: 0.5rem;
  }
  
  .sparkler .gun-powder {
    position: absolute;
    margin-left: -0.2rem;
    bottom: 6rem;
    width: 0.4rem;
    height: 10rem;
    background-color: var(--sparkler-burnt);
    border-radius: 0.5rem;
  }
  
  .sparkler .gun-powder::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0.4rem;
    height: 10rem;
    background: linear-gradient(
      to bottom,
      var(--sparkler-ember) 0.3rem,
      var(--sparkler-gun-powder) 0.4rem
    );
    border-radius: 0.5rem;
    -webkit-animation: sparkler-burn-anim 20s infinite;
    animation: sparkler-burn-anim 20s infinite;
  }
  
  .sparkler .sparkler-light {
    position: absolute;
    width: 9rem;
    height: 9rem;
    margin-left: -4.4rem;
    margin-top: -1.4rem;
    -webkit-animation: sparkler-light-anim 20s infinite;
    animation: sparkler-light-anim 20s infinite;
  }
  
  .sparkler .sparkler-light::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    background-color: rgba(255, 255, 230, 0.05);
    -webkit-animation: sparkler-light-pulsating 2s infinite linear;
    animation: sparkler-light-pulsating 2s infinite linear;
  }
  
  .sparkler .spark {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    bottom: 4.3rem;
    left: 4.35rem;
    transform: rotate(var(--spark-rotate));
  }
  
  .sparkler .spark::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0.1rem;
    height: 2rem;
    border-radius: 0.1rem;
    opacity: 0;
    background-color: white;
    transform-origin: bottom center;
    -webkit-animation: sparkler-sparkle 0.5s infinite linear;
    animation: sparkler-sparkle 0.5s infinite linear;
    -webkit-animation-delay: var(--spark-delay);
    animation-delay: var(--spark-delay);
  }
  
  @-webkit-keyframes sparkler-burn-anim {
    0% {
      height: 10rem;
    }
    100% {
      height: 0;
    }
  }
  
  @keyframes sparkler-burn-anim {
    0% {
      height: 10rem;
    }
    100% {
      height: 0;
    }
  }
  
  @-webkit-keyframes sparkler-light-anim {
    0% {
      bottom: 11.5rem;
    }
    100% {
      bottom: 1.5rem;
    }
  }
  
  @keyframes sparkler-light-anim {
    0% {
      bottom: 11.5rem;
    }
    100% {
      bottom: 1.5rem;
    }
  }
  
  @-webkit-keyframes sparkler-light-pulsating {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes sparkler-light-pulsating {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes sparkler-sparkle {
    0% {
      transform: translateY(-0.5rem) scaleY(0.25);
      opacity: 0;
    }
    10% {
      transform: translateY(-1rem) scaleY(0.5);
      opacity: 0.35;
    }
    30% {
      transform: translateY(-2rem) scaleY(0.5);
      opacity: 0.7;
    }
    50% {
      transform: translateY(-4rem) scaleY(1.5);
      opacity: 0.7;
    }
    51% {
      opacity: 0;
      transform: translateY(-4rem) scaleY(1);
    }
    100% {
      opacity: 0;
      transform: translateY(0) scaleY(0.25);
    }
  }
  
  @keyframes sparkler-sparkle {
    0% {
      transform: translateY(-0.5rem) scaleY(0.25);
      opacity: 0;
    }
    10% {
      transform: translateY(-1rem) scaleY(0.5);
      opacity: 0.35;
    }
    30% {
      transform: translateY(-2rem) scaleY(0.5);
      opacity: 0.7;
    }
    50% {
      transform: translateY(-4rem) scaleY(1.5);
      opacity: 0.7;
    }
    51% {
      opacity: 0;
      transform: translateY(-4rem) scaleY(1);
    }
    100% {
      opacity: 0;
      transform: translateY(0) scaleY(0.25);
    }
  }

  /* Day 9*/
.inside .img-w {
  object-fit: cover;
  width: 100% !important;
}
  /* Day 10*/

.hot-chocolate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.hot-chocolate {
  --mug-dark: #727d71;
  --mug-light: #abc4ab;
  --mug-coffee: #6c584c;
  --marshmallow: #d7fdf0;
  --pink-marshmallow: #ffe4e2;

  perspective: 400px;
  transform: translateX(3rem) translateY(2rem);
}

@media only screen and (min-width: 576px) {
  .hot-chocolate {
    transform: scale(0.4);
  }
}

.hot-chocolate .mug {
  width: 10rem;
  height: 10rem;
  transform: rotateX(-30deg);
  filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.1));
}

.hot-chocolate .mug__contents {
  width: 10rem;
  height: 10rem;
  background-color: var(--mug-dark);
  position: relative;
}

.hot-chocolate .mug__contents::before {
  content: "";
  display: block;
  width: 10rem;
  height: 3rem;
  position: absolute;
  top: 8.5rem;
  background-color: var(--mug-dark);
  border-radius: 50%;
}

.hot-chocolate .mug__contents::after {
  content: "";
  display: block;
  width: 10rem;
  height: 3rem;
  position: absolute;
  z-index: 3;
  top: -1.5rem;
  background-color: var(--mug-coffee);
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.25rem solid var(--mug-light);
}

.hot-chocolate .mug__grip {
  position: absolute;
  z-index: -1;
  right: -2rem;
  width: 4rem;
  height: 6rem;
  border: 0.75rem solid var(--mug-light);
  border-bottom-width: 1rem;
  border-radius: 2rem 1rem / 4rem 2rem;
}

.hot-chocolate .mug__background {
  position: absolute;
  width: 10rem;
  height: 4rem;
  background-color: var(--mug-light);
  display: flex;
}

.hot-chocolate .mug__background-curve {
  background-color: var(--mug-light);
  width: calc(10rem / 7);
  height: calc(10rem / 7);
  border-radius: 50%;
  margin-top: calc(4rem - 10rem / 14);
}

.hot-chocolate .mug__background-curve:nth-child(1),
.hot-chocolate .mug__background-curve:nth-child(3),
.hot-chocolate .mug__background-curve:nth-child(5),
.hot-chocolate .mug__background-curve:nth-child(7) {
  background-color: var(--mug-dark);
}

.hot-chocolate .mug__shine {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 33%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hot-chocolate .mug__shine--bottom {
  position: absolute;
  z-index: 2;
  top: 10rem;
  width: 10rem;
  height: 1.5rem;
  overflow: hidden;
}

.hot-chocolate .mug__shine--bottom::before {
  content: "";
  display: block;
  width: 10rem;
  height: 3rem;
  position: absolute;
  top: -1.5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 33%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
}

.hot-chocolate .marshmallow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 2.4rem;
  height: 1.6rem;
  border-radius: 0.8rem / 1.2rem;
  background: radial-gradient(
    circle at 0 0,
    var(--marshmallow) 0%,
    #ffffff 100%
  );
  box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.3);
}

.hot-chocolate .marshmallow:nth-child(odd) {
  background: radial-gradient(
    circle at 0 0,
    var(--pink-marshmallow) 0%,
    #ffffff 100%
  );
}

.hot-chocolate .marshmallow:nth-child(4) {
  transform: scale(0.7) translateX(10.5rem) translateY(-1.8rem) rotate(24deg);
}

.hot-chocolate .marshmallow:nth-child(9) {
  transform: scale(0.6) translateX(9.5rem) translateY(-1rem) rotate(-5deg);
}

.hot-chocolate .marshmallow:nth-child(8) {
  transform: scale(0.65) translateX(6rem) translateY(-0.5rem) rotate(20deg);
}

.hot-chocolate .marshmallow:nth-child(7) {
  transform: scale(0.7) translateX(7.5rem) translateY(-2.6rem) rotate(-30deg);
}

.hot-chocolate .marshmallow:nth-child(6) {
  transform: scale(0.5) translateX(4.5rem) translateY(-3.5rem) rotate(-8deg);
}

.hot-chocolate .marshmallow:nth-child(5) {
  transform: scale(0.5) translateX(7rem) translateY(-3.5rem) rotate(55deg);
}

.hot-chocolate .marshmallow:nth-child(3) {
  transform: scale(0.6) translateX(1.7rem) translateY(-1rem) rotate(10deg);
}

.hot-chocolate .marshmallow:nth-child(1) {
  transform: scale(0.6) translateX(4rem) translateY(-1rem) rotate(-35deg);
}

.hot-chocolate .marshmallow:nth-child(2) {
  transform: scale(0.65) translateX(0.5rem) translateY(-2.5rem) rotate(-25deg);
}


.elf-hat-container {
  --elf-hat-background: #333533;
  --elf-hat-red: #bf0603;
  --elf-hat-red-shadow: #8d0801;
  --elf-hat-gold: #fec601;
  --elf-hat-green: #7cb518;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background: var(--elf-hat-background);
}

.elf-hat {
  width: 12rem;
  height: 10rem;
  position: relative;
  transform: scale(0.42) translateX(-2.9rem);
}

@media only screen and (min-width: 576px) {
  .elf-hat {
    transform: scale(0.6) translateX(-1.5rem);
  }
}

.elf-hat .elf-hat__main {
  width: 9rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 1.5rem;
}

.elf-hat .elf-hat__main::before {
  content: "";
  display: block;
  width: 12rem;
  height: 20rem;
  background: var(--elf-hat-red);
  border-radius: 50% 50% 50% 50% / 80% 20% 50% 0;
}

.elf-hat .elf-hat__main::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0.7rem;
  left: 8rem;
  width: 4rem;
  height: 12rem;
  background-color: var(--elf-hat-background);
  border-radius: 50% 50% 20% 50% / 10% 10% 50% 0%;
  transform: rotate(-20deg);
}

.elf-hat .elf-hat__main-shadow {
  position: absolute;
  top: 2.4rem;
  left: 6.2rem;
  z-index: 3;
  width: 2rem;
  height: 0.6rem;
  background: var(--elf-hat-red-shadow);
  border-radius: 0.4rem;
  transform: rotate(-10deg);
}

.elf-hat .elf-hat__side {
  position: absolute;
  z-index: 4;
  top: 6.5rem;
  left: 0;
}

.elf-hat .elf-hat__side::after {
  content: "";
  display: block;
  width: 9rem;
  height: 1rem;
  background-color: var(--elf-hat-green);
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  border-radius: 0 0 50% 50%;
}

.elf-hat .elf-hat__side__left {
  position: absolute;
  width: 4rem;
  height: 3.5rem;
  overflow: hidden;
}

.elf-hat .elf-hat__side__left::before {
  position: absolute;
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  margin-left: -4rem;
  border-radius: 50%;
  background-color: var(--elf-hat-green);
}

.elf-hat .elf-hat__side__left::after {
  position: absolute;
  z-index: 2;
  content: "";
  display: block;
  width: 3rem;
  height: 6rem;
  margin-left: -1.5rem;
  border-radius: 50% 50% 0 0;
  background-color: var(--elf-hat-background);
}

.elf-hat .elf-hat__side__right {
  position: absolute;
  width: 4rem;
  height: 3.5rem;
  left: 8rem;
  overflow: hidden;
}

.elf-hat .elf-hat__side__right::before {
  position: absolute;
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--elf-hat-green);
}

.elf-hat .elf-hat__side__right::after {
  position: absolute;
  z-index: 2;
  content: "";
  display: block;
  width: 3rem;
  height: 6rem;
  margin-left: 2.5rem;
  border-radius: 50% 50% 0 0;
  background-color: var(--elf-hat-background);
}

.elf-hat .elf-hat__side__spikes {
  position: absolute;
  width: 8rem;
  height: 4.5rem;
  top: -1rem;
  left: 2rem;
  overflow: hidden;
}

.elf-hat .elf-hat__side__spikes::before,
.elf-hat .elf-hat__side__spikes::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.5rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--elf-hat-green);
  transform: scaleX(0.7) rotate(45deg);
}

.elf-hat .elf-hat__side__spikes::after {
  left: 3rem;
  top: 2rem;
}

.elf-hat .elf-hat__gold {
  position: absolute;
  z-index: 5;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: var(--elf-hat-gold);
}

.elf-hat .elf-hat__gold.elf-hat__gold--main {
  left: 10rem;
}

.elf-hat .elf-hat__gold.elf-hat__gold--left {
  left: -0.3rem;
  top: 5.8rem;
}

.elf-hat .elf-hat__gold.elf-hat__gold--left-center {
  left: 3.75rem;
  top: 5.1rem;
}

.elf-hat .elf-hat__gold.elf-hat__gold--right-center {
  left: 6.75rem;
  top: 5.6em;
}

.elf-hat .elf-hat__gold.elf-hat__gold--right {
  left: 10.7rem;
  top: 5.8rem;
}

/**
 * Day 14 - Christmas tree branch with ornaments
 * https://codepen.io/johnnyfekete/pen/qBarZVj
 */
.ornaments-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at 100%,
    #6930c3 0%,
    #56cfe1 40%,
    #72efdd 70%,
    #80ffdb 100%
  );
  height: 100%;
  margin: 0;
}

.ornaments {
  --ornaments-branch: #9d6b53;
  --ornaments-branch-light: #cd9777;
  --ornament-1: #f83b17;
  --ornament-1-light: #fb8f7a;
  --ornament-2: #02c39a;
  --ornament-2-light: #50fdd8;
  --ornament-3: #c77dff;
  --ornament-3-light: #e0aaff;

  position: relative;
  width: 40rem;
  height: 24rem;
  transform: scale(0.15) translateX(-16rem);
}

@media only screen and (min-width: 576px) {
  .ornaments {
    transform: scale(0.2) translateX(-15rem);
  }
}

.ornaments .branch {
  position: absolute;
  width: 20rem;
  height: 0.3rem;
  top: 4rem;
  border-radius: 0 50% 50% 0;
  background-color: var(--ornaments-branch);
}

.ornaments .branch.branch-1 {
  transform: rotate(-10deg);
  top: 7rem;
}

.branch.branch-2 {
  transform: rotate(-6deg);
  top: 11rem;
  left: 12rem;
}

.ornaments .branch::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -0.15rem;
  left: -0.1rem;
  width: 0.8rem;
  height: 0.6rem;
  background-color: var(--ornaments-branch);
}

.ornaments .spikes-upper {
  position: absolute;
  top: -4rem;
  left: 4rem;
  width: 17rem;
  height: 4rem;
  background: repeating-linear-gradient(
    to right,
    #006600,
    #006600 0.2rem,
    transparent 0.2rem,
    transparent 0.7rem
  );
  transform: skewX(-45deg);
}
.ornaments .spikes-lower {
  position: absolute;
  top: 0.3rem;
  left: 4rem;
  width: 17rem;
  height: 4rem;
  background: repeating-linear-gradient(
    to right,
    #006600,
    #006600 0.2rem,
    transparent 0.2rem,
    transparent 0.7rem
  );
  transform: skewX(45deg);
}

.ornaments .spikes-end {
  position: absolute;
  top: -3rem;
  left: 20.6rem;
  width: 6.3rem;
  height: 6.3rem;
  overflow: hidden;
  transform: rotate(135deg);
  border-radius: 30% 10% 0 10%;
}

.ornaments .spikes-end::after {
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  content: "";
  display: block;
  width: 14rem;
  height: 14rem;
  background: repeating-conic-gradient(
    from 0deg,
    #006600 0deg 2deg,
    transparent 2deg 9deg
  );
}

.ornaments .ornament {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  font-size: 4rem;
}

.ornaments .ornament::before {
  position: absolute;
  content: "";
  display: block;
  width: 3rem;
  height: 2rem;
  top: 1.75rem;
  left: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(-60deg);
}

.ornaments .ornament::after {
  position: absolute;
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  top: 0.4rem;
  left: 0.5rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    transparent 100%
  );
  transform: rotate(-20deg);
}

.ornament-1 {
  top: 12.7rem;
  left: 5rem;
  background: radial-gradient(
    circle at 75% 75%,
    var(--ornament-1),
    40%,
    var(--ornament-1-light) 80%
  );
}

.ornament-2 {
  top: 16.8rem;
  left: 15rem;
  background: radial-gradient(
    circle at 75% 75%,
    var(--ornament-2),
    40%,
    var(--ornament-2-light) 80%
  );
}
.ornament-3 {
  top: 15.8rem;
  left: 25rem;
  background: radial-gradient(
    circle at 75% 75%,
    var(--ornament-3),
    40%,
    var(--ornament-3-light) 80%
  );
}

.ornaments .hanger {
  position: absolute;
  width: 2rem;
  height: 1rem;
  background-image: linear-gradient(to right, white, lightgrey, white);
  border-radius: 0.25rem 0.25rem 50% 50% / 0.25rem 0.25rem 10% 10%;
  top: -0.75rem;
}

.ornaments .hanger::before {
  position: absolute;
  content: "";
  display: block;
  border-left: 0.1rem solid black;
  height: 3rem;
  top: -3rem;
  left: 1rem;
}

.ornaments .hanger::after {
  position: absolute;
  content: "";
  display: block;
  border-left: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
  width: 0.6rem;
  height: 2rem;
  top: -5rem;
  left: 1rem;
  border-radius: 50% 50% 50% 0;
}

/** 
 * Day 15 - North Pole sign
 * https://codepen.io/johnnyfekete/pen/MWjmwBY
 */
 .north-pole-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: #66cafb;
}

.north-pole {
  --north-pole-white: #ffffff;
  --north-pole-white-shadow: #eaf1f7;
  --north-pole-pole: #c70000;
  --north-pole-text: #103250;

  position: relative;
  width: 13rem;
  height: 20rem;
  transform: scale(0.3) translateX(-3rem);
}

@media only screen and (min-width: 576px) {
  .north-pole {
    transform: scale(0.35) translateX(-2rem);
  }
}

.north-pole .ground {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 2rem;
  width: 9rem;
  height: 2rem;
  background-color: var(--north-pole-white);
  border-radius: 50% 50% 20% 20% / 50% 50% 40% 40%;
  overflow: hidden;
}

.north-pole .ground::before {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: var(--north-pole-white-shadow);
  border-radius: 1.5rem;
  transform: rotate(-20deg) skewX(50deg);
  top: 0.3rem;
  left: 1rem;
}

.north-pole .ground::after {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: var(--north-pole-white-shadow);
  border-radius: 1.5rem;
  transform: rotate(-20deg) skewX(30deg);
  top: 0.6rem;
  left: 4rem;
}

.north-pole .pole {
  position: absolute;
  z-index: 0;
  top: 2rem;
  left: 5.75rem;
  bottom: 1rem;
  width: 1.5rem;
  background: repeating-linear-gradient(
    -25deg,
    var(--north-pole-pole),
    var(--north-pole-pole) 1.2rem,
    var(--north-pole-white) 1.2rem,
    var(--north-pole-white) 2.4rem
  );
}

.north-pole .pole::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.north-pole .pole::after {
  content: "";
  display: block;
  position: absolute;
  left: 0.7rem;
  right: 0.3rem;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.north-pole .top {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 5.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--north-pole-pole);
  border-radius: 50%;
}

.north-pole .top::before {
  content: "";
  display: block;
  position: absolute;
  top: 2rem;
  border-bottom: 0.75rem solid var(--north-pole-pole);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  height: 0;
  width: 1.5rem;
}

.north-pole .top::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.north-pole .sign {
  position: absolute;
  box-sizing: border-box;
  top: 3.5rem;
  width: 13rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--north-pole-white);
  border-radius: 0.5rem;
  border: 0.35rem solid var(--north-pole-pole);
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  color: var(--north-pole-text);
}

.north-pole .icicle {
  position: absolute;
  top: 4.65rem;
  width: 1rem;
  height: 2.5rem;
  overflow: hidden;
  transform-origin: top center;
}

.north-pole .icicle::after {
  content: "";
  display: block;
  position: absolute;
  top: -3.5rem;
  left: -2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--north-pole-white);
  transform: scaleX(0.2) rotate(45deg);
}

.north-pole .icicle-1 {
  left: 1rem;
  transform: scaleY(1.2);
}

.north-pole .icicle-2 {
  left: 2.5rem;
  transform: scaleX(0.8);
}

.north-pole .icicle-3 {
  left: 3.5rem;
  transform: scaleX(0.4) scaleY(0.7);
}

.north-pole .icicle-4 {
  left: 9rem;
  transform: scaleX(0.7) scaleY(0.8);
}

.north-pole .icicle-5 {
  left: 11rem;
  transform: scaleX(0.7) scaleY(1.1);
}

.north-pole .ice-left {
  position: absolute;
  width: 5.5rem;
  height: 0.5rem;
  top: 4.65rem;
  left: -0.15rem;
  overflow: hidden;
}

.north-pole .ice-left::after {
  content: "";
  display: block;
  position: absolute;
  width: 5.5rem;
  height: 2rem;
  top: -1.5rem;
  left: -0.25rem;
  border-radius: 50%;
  background-color: var(--north-pole-white);
}

.north-pole .ice-right {
  position: absolute;
  z-index: -1;
  width: 3rem;
  height: 0.7rem;
  overflow: hidden;
  top: 4.65rem;
  right: -0.2rem;
}

.north-pole .ice-right::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 3rem;
  height: 2rem;
  top: -1.35rem;
  right: 0.5rem;
  border-radius: 50%;
  background-color: var(--north-pole-white);
}

.north-pole .snow {
  position: absolute;
  z-index: 1;
  top: -1rem;
  left: -0.7rem;
  width: 5.7rem;
  height: 1.5rem;
  background-color: var(--north-pole-white);
  border-radius: 50% 50% 20% 20% / 50% 50% 40% 40%;
  overflow: hidden;
  transform: rotate(-5deg);
}

.north-pole .snow::before {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: var(--north-pole-white-shadow);
  border-radius: 1.5rem;
  transform: rotate(-20deg) skewX(50deg);
  top: 0.3rem;
  left: 1rem;
}

.north-pole .snow::after {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: var(--north-pole-white-shadow);
  border-radius: 1.5rem;
  transform: rotate(-20deg) skewX(30deg);
  top: 0.2rem;
  left: 2rem;
}

.toy-train-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  background-color: #f1faee;
}

.toy-train {
  --toy-train-red: #f45b69;
  --toy-train-blue: #456990;
  --toy-train-gold: #edaa41;
  --toy-train-gray: #ababab;

  width: 39rem;
  height: 20rem;
  position: relative;
  transform: scale(0.15) translateX(-16rem) translateY(-45rem);
}

@media only screen and (min-width: 576px) {
  .toy-train {
    transform: scale(0.2) translateX(-15rem) translateY(-26rem);
  }
}

.toy-train .locomotive {
  position: absolute;
  top: 5rem;
  -webkit-animation: train-shake 1s infinite linear;
  animation: train-shake 1s infinite linear;
}

.toy-train .passanger-car {
  position: absolute;
  top: 5rem;
  left: 25rem;
  -webkit-animation: train-shake 1s infinite linear;
  animation: train-shake 1s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.toy-train .locomotive .chimney {
  position: absolute;
  left: 5rem;
  width: 5.5rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-gold);
}

.toy-train .locomotive .chimney::before {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  width: 4.5rem;
  height: 2rem;
  border-radius: 0.5rem 0.5rem 3rem 3rem;
  background-color: var(--toy-train-blue);
}

.toy-train .locomotive .chimney::after {
  content: "";
  display: block;
  position: absolute;
  top: 2.5rem;
  left: 1.75rem;
  width: 2rem;
  height: 3rem;
  background-color: var(--toy-train-blue);
}

.toy-train .chimney .smoke {
  position: absolute;
  top: -3rem;
  left: 1rem;
  width: 5rem;
  height: 3rem;
  background: radial-gradient(
      circle at 1rem 1.5rem,
      var(--toy-train-gray) 0,
      var(--toy-train-gray) 0.5rem,
      transparent 1rem
    ),
    radial-gradient(
      circle at 2rem 1rem,
      var(--toy-train-gray) 0,
      var(--toy-train-gray) 0.5rem,
      transparent 1rem
    ),
    radial-gradient(
      circle at 3rem 1rem,
      var(--toy-train-gray) 0,
      var(--toy-train-gray) 0.5rem,
      transparent 1rem
    ),
    radial-gradient(
      circle at 4rem 1.5rem,
      var(--toy-train-gray) 0,
      var(--toy-train-gray) 0.5rem,
      transparent 1rem
    ),
    radial-gradient(
      circle at 2rem 2rem,
      var(--toy-train-gray) 0,
      var(--toy-train-gray) 0.5rem,
      transparent 1rem
    ),
    radial-gradient(
      circle at 3rem 2rem,
      var(--toy-train-gray) 0,
      var(--toy-train-gray) 0.5rem,
      transparent 1rem
    );
  opacity: 0;
  -webkit-animation: train-smoke 3s infinite linear;
  animation: train-smoke 3s infinite linear;
}

.toy-train .chimney .smoke:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.toy-train .chimney .smoke:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.toy-train .locomotive .boiler {
  position: absolute;
  z-index: 2;
  top: 7rem;
  left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--toy-train-gold);
}

.toy-train .locomotive .boiler::before {
  content: "";
  display: block;
  position: absolute;
  top: -2rem;
  left: 0.75rem;
  width: 9.5rem;
  height: 6rem;
  border-radius: 3rem 0 0 3rem;
  background-color: var(--toy-train-red);
}

.toy-train .locomotive .boiler::after {
  content: "";
  display: block;
  position: absolute;
  top: -2.5rem;
  left: 2.75rem;
  width: 1rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: var(--toy-train-gold);
}

.toy-train .car-cabin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  top: 2rem;
  width: 8em;
  height: 6.5rem;
  border-radius: 0 0;
  background-color: var(--toy-train-blue);
}

.toy-train .car-cabin::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  top: -2rem;
  left: -1rem;
  right: -1rem;
  height: 2rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  background-color: var(--toy-train-red);
}

.toy-train .passanger-car .car-cabin {
  width: 12rem;
}

.toy-train .car-cabin .window {
  width: 3.5rem;
  height: 4.5rem;
  box-sizing: border-box;
  border: 0.5rem solid var(--toy-train-gold);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

.toy-train .side-bar {
  position: absolute;
  z-index: 5;
  top: 8.5rem;
  left: 4.75rem;
  width: 16em;
  height: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--toy-train-gold);
}

.toy-train .locomotive .car-cabin {
  left: 12.25rem;
}

.toy-train .passanger-car .side-bar {
  left: -0.5rem;
  width: 13rem;
  border-radius: 0.5rem;
}

.toy-train .passanger-car .window:first-child {
  margin-left: 1.5rem;
}
.toy-train .passanger-car .window:last-child {
  margin-right: 1.5rem;
}

.toy-train .locomotive .car-cabin .window {
  border-radius: 2rem 2rem 0.5rem 0.5rem;
}

.toy-train .car-bottom {
  position: absolute;
  z-index: 4;
  top: 9rem;
  height: 4rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--toy-train-blue);
}

.toy-train .locomotive .car-bottom {
  left: 4.75rem;
  width: 15.5rem;
}

.toy-train .passanger-car .car-bottom {
  width: 12rem;
}

.toy-train .bumper {
  position: absolute;
  right: -2rem;
  top: 1rem;
  width: 2rem;
  height: 1rem;
  background-color: var(--toy-train-blue);
}

.toy-train .bumper::after {
  content: "";
  display: block;
  position: absolute;
  right: 0rem;
  top: -0.5rem;
  width: 1rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-blue);
}

.toy-train .bumper.bumper--front {
  left: -2rem;
  right: auto;
  transform: rotate(180deg);
}

.toy-train .front {
  position: absolute;
  z-index: 7;
  left: 2.5rem;
  top: 9.5rem;
  width: 3.5rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-gray);
}

.toy-train .snow-breaker {
  position: absolute;
  z-index: 6;
  left: 0.75rem;
  top: 11rem;
  width: 3.5rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  border: 0.75rem solid var(--toy-train-red);
  border-left: none;
  border-top: none;
}

.toy-train .snow-breaker::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 5rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-red);
  transform-origin: 0.375rem 0.375rem;
  transform: rotate(-50deg);
}

.toy-train .snow-breaker::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: 2rem;
  width: 4rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--toy-train-red);
  transform-origin: 0.375rem 0.375rem;
  transform: rotate(-70deg);
}

.wheel {
  position: absolute;
  top: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(
      circle at center,
      var(--toy-train-gold) 10%,
      var(--toy-train-red) 10%,
      var(--toy-train-red) 25%,
      transparent 25%,
      transparent 55%,
      var(--toy-train-red) 55%
    ),
    linear-gradient(
      0deg,
      transparent 0,
      transparent 45%,
      var(--toy-train-red) 45%,
      var(--toy-train-red) 55%,
      transparent 55%,
      transparent 100%
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 45%,
      var(--toy-train-red) 45%,
      var(--toy-train-red) 55%,
      transparent 55%,
      transparent 100%
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 45%,
      var(--toy-train-red) 45%,
      var(--toy-train-red) 55%,
      transparent 55%,
      transparent 100%
    );
}

.toy-train .locomotive .wheel:first-child {
  left: 3rem;
  -webkit-animation: train-wheel-1 2s infinite linear;
  animation: train-wheel-1 2s infinite linear;
}

.toy-train .locomotive .wheel:nth-child(2) {
  left: 10rem;
  -webkit-animation: train-wheel-2 2s infinite linear;
  animation: train-wheel-2 2s infinite linear;
}

.toy-train .passanger-car .wheel:first-child {
  left: 0.5rem;
  -webkit-animation: train-wheel-1 2s infinite linear;
  animation: train-wheel-1 2s infinite linear;
}

.toy-train .passanger-car .wheel:nth-child(2) {
  left: 6.5rem;
  -webkit-animation: train-wheel-2 2s infinite linear;
  animation: train-wheel-2 2s infinite linear;
}

@-webkit-keyframes train-wheel-1 {
  0% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

@keyframes train-wheel-1 {
  0% {
    transform: rotate(400deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

@-webkit-keyframes train-wheel-2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes train-wheel-2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes train-shake {
  0% {
    transform: translate(0.1rem, 0.1rem);
  }
  10% {
    transform: translate(-0.1rem, 0rem);
  }
  20% {
    transform: translate(0rem, -0.1rem);
  }
  30% {
    transform: translate(0.1rem, -0.1rem);
  }
  40% {
    transform: translate(-0.1rem, 0rem);
  }
  50% {
    transform: translate(0rem, -0.1rem);
  }
  60% {
    transform: translate(-0.1rem, 0rem);
  }
  70% {
    transform: translate(0rem, -0.1rem);
  }
  80% {
    transform: translate(-0.1rem, 0.1rem);
  }
  90% {
    transform: translate(-0.1rem, -0.1rem);
  }
  100% {
    transform: translate(0.1rem, 0.1rem);
  }
}

@keyframes train-shake {
  0% {
    transform: translate(0.1rem, 0.1rem);
  }
  10% {
    transform: translate(-0.1rem, 0rem);
  }
  20% {
    transform: translate(0rem, -0.1rem);
  }
  30% {
    transform: translate(0.1rem, -0.1rem);
  }
  40% {
    transform: translate(-0.1rem, 0rem);
  }
  50% {
    transform: translate(0rem, -0.1rem);
  }
  60% {
    transform: translate(-0.1rem, 0rem);
  }
  70% {
    transform: translate(0rem, -0.1rem);
  }
  80% {
    transform: translate(-0.1rem, 0.1rem);
  }
  90% {
    transform: translate(-0.1rem, -0.1rem);
  }
  100% {
    transform: translate(0.1rem, 0.1rem);
  }
}

@-webkit-keyframes train-smoke {
  0% {
    transform: translate(-1.5rem, 0.5rem) scale(0.5);
    opacity: 0;
  }
  10% {
    transform: translate(0rem, 0rem) scale(0.7);
    opacity: 0.5;
  }
  20% {
    transform: translate(2rem, -1rem) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(15rem, -4rem) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(20rem, -6rem) scale(1.5);
    opacity: 0;
  }
}

@keyframes train-smoke {
  0% {
    transform: translate(-1.5rem, 0.5rem) scale(0.5);
    opacity: 0;
  }
  10% {
    transform: translate(0rem, 0rem) scale(0.7);
    opacity: 0.5;
  }
  20% {
    transform: translate(2rem, -1rem) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(15rem, -4rem) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(20rem, -6rem) scale(1.5);
    opacity: 0;
  }
}

.reindeer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee4df;
  height: 100%;
  margin: 0;
}

.reindeer {
  --rudolph-antler: #ddb892;
  --rudolph-body: #9d6b53;
  --rudolph-body-dark: #946651;
  --rudolph-nose: #8c6351;
  --rudolph-nose-red: #690500;
  --rudolph-eye: #432818;
  --rudolph-ear: #774936;
  --rudolph-belly: #ede0d4;
  --rudolph-leg: #432818;

  position: relative;
  width: 16rem;
  height: 16rem;
  transform: scale(0.4) translateX(-3.5rem);
}

@media only screen and (min-width: 576px) {
  .reindeer {
    transform: scale(0.4) translateX(-3.5rem);
  }
}

.reindeer .antler {
  position: absolute;
  margin: 2.7rem 0 0 2.3rem;
  width: 5rem;
  height: 0.7rem;
  border-radius: 0.35rem;
  background-color: var(--rudolph-antler);
  transform-origin: 5.7rem 0;
  transform: translate(-1rem, 2.5rem) rotate(20deg);
}

.reindeer .antler.antler--right {
  transform: scaleX(-1) translate(-1rem, 2.5rem) rotate(20deg);
}

.reindeer .antler .hook:first-child {
  position: absolute;
  top: -2.3rem;
  left: -2.3rem;
  width: 3rem;
  height: 3rem;
  background: radial-gradient(
    circle at 100% 0,
    transparent,
    transparent 2.3rem,
    var(--rudolph-antler) 2.3rem,
    var(--rudolph-antler) 3rem,
    transparent 3rem
  );
}

.reindeer .antler .hook:nth-child(2) {
  position: absolute;
  top: -1.7rem;
  width: 2.4rem;
  height: 2.4rem;
  background: radial-gradient(
    circle at 100% 0,
    transparent,
    transparent 1.7rem,
    var(--rudolph-antler) 1.7rem,
    var(--rudolph-antler) 2.4rem,
    transparent 2.4rem
  );
}

.reindeer .antler .hook:nth-child(3) {
  position: absolute;
  top: -1.3rem;
  left: 1.5rem;
  width: 2rem;
  height: 2rem;
  background: radial-gradient(
    circle at 100% 0,
    transparent,
    transparent 1.3rem,
    var(--rudolph-antler) 1.3rem,
    var(--rudolph-antler) 2rem,
    transparent 2rem
  );
}

.reindeer .antler .hook::before {
  content: "";
  display: block;
  position: absolute;
  top: -0.35rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--rudolph-antler);
  border-radius: 0.35rem;
}

.reindeer .head {
  position: absolute;
  z-index: 3;
  top: 4rem;
  left: 5rem;
  width: 6rem;
  height: 6rem;
}

.reindeer .head .face {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background: var(--rudolph-body);
  border-radius: 50% 50% 50% 50% / 50% 50% 60% 60%;
}

.reindeer .head .face::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.05rem;
  left: 0.5rem;
  width: 5rem;
  height: 5.4rem;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    transparent,
    transparent 2.5rem,
    var(--rudolph-body-dark) 2.5rem,
    var(--rudolph-body-dark) 5rem
  );
  background-position: 0 0.2rem;
  transform: scaleX(1.1) rotate(45deg) scaleX(1.1) scale(0.9);
}

.reindeer .ear {
  position: absolute;
  left: -2.6rem;
  top: 1.5rem;
  width: 5rem;
  height: 2rem;
  background: var(--rudolph-body);
  border-radius: 50% 50% 60% 40% / 50% 40% 40% 50%;
  transform: rotate(-10deg) scale(0.8);
}

.reindeer .ear::after {
  content: "";
  diplay: block;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  width: 3rem;
  height: 1.2rem;
  background: var(--rudolph-ear);
  border-radius: 50% 50% 50% 40% / 50% 40% 60% 50%;
}

.reindeer .ear.ear--right {
  left: auto;
  right: -2.6rem;
  transform: rotate(10deg) scaleX(-1) scale(0.8);
}

.reindeer .eye {
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  width: 0.6rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--rudolph-eye);
  transform: rotate(10deg);
}

.reindeer .eye.eye--right {
  left: 3.4rem;
  transform: rotate(-10deg);
}

.reindeer .nose {
  position: absolute;
  top: 3.5rem;
  left: 0.7rem;
  width: 4.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: var(--rudolph-nose);
}

.reindeer .nose::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
  width: 3.4rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--rudolph-nose-red);
}

.reindeer .nose::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.6rem;
  left: 1.6rem;
  width: 1.8rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.reindeer .body {
  position: absolute;
  top: 9.6rem;
  left: 5rem;
  width: 6rem;
  height: 6rem;
  background: var(--rudolph-body);
  border-radius: 3rem 3rem 0 0 / 4rem 4rem 0 0;
}

.reindeer .body::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 4rem;
  background-color: var(--rudolph-belly);
  border-radius: 50%;
  top: 0rem;
  left: 1.5rem;
}

.reindeer .hand {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 0.8rem;
  width: 2rem;
  height: 2rem;
  background: radial-gradient(
    circle at 100% 0,
    transparent,
    transparent 1.15rem,
    var(--rudolph-leg) 1.2rem,
    var(--rudolph-leg) 2rem,
    transparent 2.05rem
  );
  transform: scaleX(0.7) rotate(10deg);
}

.reindeer .hand::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.2rem;
  left: 1.6rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--rudolph-leg);
  border-radius: 50%;
}

.reindeer .hand.hand--right {
  left: 3.2rem;
  transform: scaleX(-1) scaleX(0.7) rotate(10deg);
}

.reindeer .legs {
  position: absolute;
  left: -1rem;
  top: 2rem;
  width: 8rem;
  height: 4rem;
  overflow: hidden;
}

.reindeer .legs::before {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  left: 0.3rem;
  width: 2rem;
  height: 3.4rem;
  background-color: var(--rudolph-body);
  border-radius: 50%;
  transform: rotate(-20deg);
}

.reindeer .legs::after {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  right: 0.3rem;
  width: 2rem;
  height: 3.4rem;
  background-color: var(--rudolph-body);
  border-radius: 50%;
  transform: rotate(20deg);
}

.reindeer .foot {
  position: absolute;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--rudolph-leg);
  border-radius: 1.5rem 1.5rem 0 0;
  top: 4.5rem;
}

.reindeer .foot.foot--right {
  left: 3rem;
}